* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* 
div {
  height: 300px;
  width: 300px;
  background-color: rgb(105, 201, 61);
} */

h1{
    color: red;
}

#second{
    background-color: blue;
    color: rgb(0, 243, 243);
}

.a{
    background-color: royalblue;
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 19, 19);
    margin-left: 100px;
    margin-top: 50px;
    padding-top: 60px;
  }